@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Bądź na bierząco z nowinami o zawodach!</h1>
</div>
<br />
@*@foreach (var p in Model.ogloszenieList.OrderByDescending(p => p.DataDodania))
{
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="card-title">@Html.DisplayFor(m => p.Tytul)</h5>
        </div>
        <div class="card-body">
            <p class="card-text">@Html.DisplayFor(m => p.Tresc)</p>
            <p class="card-text"><small class="text-muted">@Html.DisplayFor(m => p.DataDodania)</small></p>
        </div>
    </div>
}*@