<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Uczelniany System E-Sportowy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjektTurnieju.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="bg-orange">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-orange border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand bg-orange text-white" asp-area="" asp-page="/Index">Uczelniany System E-Sportowy</a>
                <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item text-white">
                            <a class="nav-link text-white" asp-area="" asp-page="/Index">Strona Główna</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dla Zawodników
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-page="/Zawodnik/ProfilZawodnika">Profil</a>
                                <a class="dropdown-item" asp-page="/DruzynaZawodnkia">Drużyna</a>
                                <a class="dropdown-item" asp-page="/TurniejeZawodnika">Twoje Turnieje</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dla Kapitanów
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-page="/ProfilKapitana">Profil</a>
                                <a class="dropdown-item" asp-page="/Kapitan/StronaDruzyny">Zarządzaj Drużyną</a>
                                <a class="dropdown-item" asp-page="/TurniejeKapitana">Zarządzaj Turniejami</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dla Organizatorów
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-page="/ProfilOrganizatora">Profil</a>
                                <a class="dropdown-item" asp-page="/Organizator/ListaUzytkownikow">Lista Użytkowników</a>
                                <a class="dropdown-item" asp-page="/TurniejeOrganizatora">Ustal Turniej</a>
                                <a class="dropdown-item" asp-page="/Organizator/Ogloszenie">Nowe Ogłoszenie</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" asp-area="" asp-page="/EkranLogowania">Zaloguj się</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" asp-area="" asp-page="/Wylogowanie">Wyloguj się</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 bg-orange3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-orange2 box-shadow">
        <div class="container bg-orange2 box-shadow">
            <div class="d-flex justify-content-between align-items-center">
                <span>&copy; 2023 - Szymon Gwoździej & Marcel Herman</span>
                <span>Aktualna strona: @ViewContext.RouteData.Values["page"]</span>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>